{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lyra</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

    <style>
        canvas#neuro {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            opacity: 0.95;
            z-index: 1;
        }
        .content-wrapper {
            position: relative;
            z-index: 2;
        }
    </style>
</head>

<body class="" style="overflow: auto">
    <canvas id="neuro"></canvas>
    <div class="content-wrapper">
        <div>
            <script>
                !(function () {
                    var d = document.documentElement,
                        c = d.classList;
                    c.remove("light", "dark");
                    d.style.colorScheme = "dark";
                    c.add("dark");
                })();
            </script>
            <div class="__variable_179fbf __variable_bf2c8d __variable_ad1156 __variable_c76398 font-sans">
                <div class="">
                    <div>
                        <header class="sticky top-0 z-40 border-b border-transparent transition duration-200 ease-in-out animate-header-slide-down-fade" aria-label="Main" data-orientation="horizontal" dir="ltr">
                            <div class="mx-auto w-full max-w-5xl px-6 md:max-w-7xl">
                                <div class="bg-root absolute left-0 top-0 z-20 flex w-full flex-col items-center md:hidden">
                                    <div class="flex w-full items-center px-6 py-4">
                                        <div class="flex-auto">
                                            <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7" href="">
                                                <svg fill="none" viewBox="0 0 65 16" width="60" xmlns="http://www.w3.org/2000/svg"></svg>
                                            </a>
                                        </div>
                                        <div class="flex flex-auto justify-end">
                                            <button aria-controls="mobile-menu" aria-expanded="false" aria-label="menu" class="inline-flex items-center justify-center rounded-md p-1 text-slate-11 transition ease-in-out hover:bg-slate-5 hover:text-slate-12 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-6" type="button">
                                                <span class="sr-only">Open main menu</span>
                                                <svg aria-hidden="true" class="block h-8 w-8" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
                                                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mx-auto hidden h-[58px] w-full items-center justify-between transition duration-500 ease-in-out md:flex">
                                    <div class="flex lg:w-[225px]">
                                        <span data-state="closed" class="">
                                            <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 py-1" aria-label="Resend" href="">
                                                <svg fill="none" viewBox="0 0 65 16" width="70" xmlns="http://www.w3.org/2000/svg"></svg>
                                            </a>
                                        </span>
                                    </div>
                                    <div style="position: relative">
                                        <ul data-orientation="horizontal" class="flex items-center" dir="ltr">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 rounded-md px-2 py-1 text-sm font-medium text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 lg:px-4" data-radix-collection-item="" href="">Acerca De</a>
                                            </li>
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 rounded-md px-2 py-1 text-sm font-medium text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 lg:px-4" data-radix-collection-item="" href="">Estudiantes</a>
                                            </li>
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 rounded-md px-2 py-1 text-sm font-medium text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 lg:px-4" data-radix-collection-item="" href="">Docentes</a>
                                            </li>
                                            <li>
                                                <button id="radix-:r0:-trigger-radix-:r4:" data-state="closed" aria-expanded="false" aria-controls="radix-:r0:-content-radix-:r4:" class="flex items-center rounded-md px-1 py-1 text-sm font-medium text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 lg:px-3 lg:pr-0 group select-none gap-[2px] outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7" data-radix-collection-item="">
                                                    Recursos
                                                    <svg class="opacity-70 -ml-0.5 transition-transform duration-[250] delay-0 ease-in group-data-[state=open]:translate-y-0.5" fill="none" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                        <path d="M15.25 10.75L12 14.25L8.75 10.75" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button id="radix-:r0:-trigger-radix-:r5:" data-state="closed" aria-expanded="false" aria-controls="radix-:r0:-content-radix-:r5:" class="flex items-center rounded-md px-1 py-1 text-sm font-medium text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 lg:px-3 lg:pr-0 group select-none gap-[2px] outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7" data-radix-collection-item="">
                                                    Licencias
                                                    <svg class="opacity-70 -ml-0.5 transition-transform duration-[250] delay-0 ease-in group-data-[state=open]:translate-y-0.5" fill="none" height="22" viewBox="0 0 24 0" width="22" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                        <path d="M15.25 10.75L12 14.25L8.75 10.75" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 rounded-md px-2 py-1 text-sm font-medium text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 lg:px-4" data-radix-collection-item="" href="">Partners</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flex gap-4">
                                        <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 items-center border justify-center select-none rounded-full disabled:cursor-not-allowed disabled:opacity-70 transition ease-in-out duration-200 bg-slate-1 border-slate-1 text-slate-11 hover:bg-slate-5 hover:text-slate-12 focus-visible:ring-4 focus-visible:ring-slate-7 focus-visible:outline-none focus-visible:bg-slate-6 disabled:hover:bg-slate-1 text-sm h-10 gap-0 px-4 font-semibold hidden lg:flex" data-state="closed" href="">Inicia sesión</a>
                                        <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 inline-flex items-center border justify-center select-none rounded-full disabled:cursor-not-allowed disabled:opacity-70 transition ease-in-out duration-200 bg-white text-black hover:bg-white/90 focus-visible:ring-4 focus-visible:ring-white/30 focus-visible:outline-none focus-visible:bg-white/90 disabled:hover:bg-white text-sm h-10 gap-0 px-4 font-semibold" data-state="closed" href="">Empieza Aquí
                                            <span class="text-[#70757E] -mr-2">
                                                <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.75 8.75L14.25 12L10.75 15.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="z-50 perspective-[2000px] absolute left-[2.5rem] flex w-[calc(100%-2.5rem)] justify-center"></div>
                        </header>
                        <div class="relative z-20 pt-[60px] md:h-screen md:max-h-[950px] md:pt-0">
                            <section class="mx-auto max-w-5xl px-6 pb-8 md:h-screen md:max-h-[950px] md:max-w-7xl">
                                <div class="flex h-full flex-col items-center justify-between md:flex-row md:pb-24">
                                    <div class="origin-center-left order-2 max-w-3xl animate-hero-text-slide-up-fade sm:shrink-0 md:order-1 lg:pl-16">
                                        <div class="flex items-center justify-center md:inline-flex">
                                            <a class="rainbowBorder mb-10 inline-flex items-center justify-center text-[14px]" href="">
                                                <span class="inline-flex items-center gap-1 whitespace-nowrap px-3 py-1">Nuestras funciones
                                                    <svg fill="none" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10.75 8.75L14.25 12L10.75 15.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                        <h1 class="font-book font-styling font-display font-effect-hero text-center md:text-left text-[4rem] md:text-7xl leading-[4.35rem] md:leading-[5rem] tracking-tight font-gradient">
                                            Proyecta tu mente,<br /> encuentra potencial en tu camino
                                        </h1>
                                        <p class="sans mb-8 mt-4 max-w-[30rem] text-center leading-7 md:text-left text-base md:text-[1.125rem] md:leading-[1.5] text-slate-11 font-normal">
                                            Lyra, la mejor forma de analizar perfiles de estudiantes. Acompañanos a revolucionar y disrumpir el mundo de la educación personalizada.
                                        </p>
                                        <div class="flex flex-col justify-center gap-4 md:flex-row md:justify-start">
                                            <a class="inline-flex items-center border justify-center select-none rounded-full disabled:cursor-not-allowed disabled:opacity-70 transition ease-in-out duration-200 bg-white text-black hover:bg-white/90 focus-visible:ring-4 focus-visible:ring-white/30 focus-visible:outline-none focus-visible:bg-white/90 disabled:hover:bg-white text-base h-12 gap-0 px-5 font-semibold" href="/view">Get Started
                                                <span class="text-[#70757E] -mr-2">
                                                    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10.75 8.75L14.25 12L10.75 15.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                            <a class="inline-flex items-center border justify-center select-none rounded-full disabled:cursor-not-allowed disabled:opacity-70 transition ease-in-out duration-200 bg-slate-1 border-slate-1 text-slate-11 hover:bg-slate-5 hover:text-slate-12 focus-visible:ring-4 focus-visible:ring-slate-7 focus-visible:outline-none focus-visible:bg-slate-6 disabled:hover:bg-slate-1 text-base h-12 gap-0 px-5 font-semibold" href="">Documentation
                                                <span class="text-[#70757E] -mr-2">
                                                    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10.75 8.75L14.25 12L10.75 15.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <img alt="Light ray background" fetchpriority="high" width="1000" height="1000" decoding="async" data-nimg="1" class="pointer-events-none absolute -top-20 left-0 right-0 z-0 mx-auto hidden h-full w-full select-none md:block" style="color: transparent" srcset="/_next/image?url=%2Fstatic%2Flanding-page%2Fbghero.png&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fstatic%2Flanding-page%2Fbghero.png&amp;w=2048&amp;q=75 2x" />
                                    <div class="relative order-1 min-h-[225px] min-w-[225px] overflow-hidden grayscale md:hidden md:overflow-auto">
                                        <video autoplay="" loop="" playsinline="" class="absolute left-0 top-0 h-[225px] w-[225px]" height="255" poster="/static/cube-fallback.jpg" src="/static/cube.mp4" width="255"></video>
                                    </div>
                                    <div class="relative order-1 transform-gpu grayscale md:order-2 md:w-[700px] hidden items-center justify-center lg:flex lg:animate-[open-scale-up-fade_1.5s_ease-in-out] before:from-green-5/5 before:to-yellow-6/25 before:absolute before:left-0 before:top-0 before:block before:h-full before:w-full before:rounded-full before:bg-gradient-to-br before:blur-[100px] before:content-['']">
                                        <div style="width: 100%; height: 100%" class="relative animate-webgl-scale-in-fade">
                                            <canvas style="display: block; width: 600px; height: 600px" width="1200" height="1200"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-16 flex animate-hero-text-slide-up-fade items-center justify-center gap-2 text-center md:-mt-20">
                                    <span class="sans text-sm leading-[1.6] text-slate-11 font-normal">Backed by</span>
                                    <span class="flex items-center gap-1">
                                        <svg class="grayscale" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_24_57)">
                                                <rect fill="#FF5100" height="24" rx="5.4" width="24"></rect>
                                                <rect height="23" rx="4.9" stroke="#FF844B" width="23" x="0.5" y="0.5"></rect>
                                                <path d="M7.54102 7.31818H9.28604L11.9458 11.9467H12.0552L14.715 7.31818H16.46L12.7662 13.5028V17.5H11.2349V13.5028L7.54102 7.31818Z" fill="white"></path>
                                            </g>
                                            <rect height="23" rx="4.9" stroke="#FF5100" stroke-opacity="0.1" width="23" x="0.5" y="0.5"></rect>
                                            <rect height="23" rx="4.9" stroke="url(#paint0_radial_24_57)" width="23" x="0.5" y="0.5"></rect>
                                            <defs>
                                                <radialGradient cx="0" cy="0" gradientTransform="translate(7.35) rotate(58.475) scale(34.1384)" gradientUnits="userSpaceOnUse" id="paint0_radial_24_57" r="1">
                                                    <stop stop-color="white" stop-opacity="0.56"></stop>
                                                    <stop offset="0.28125" stop-color="white" stop-opacity="0"></stop>
                                                </radialGradient>
                                                <clipPath id="clip0_24_57">
                                                    <rect fill="white" height="24" rx="5.4" width="24"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        <span class="sans bg-gradient-to-br from-white to-slate-10 bg-clip-text text-transparent text-sm leading-[1.6] text-slate-11 font-medium">Combinator</span>
                                    </span>
                                </div>
                            </section>
                        </div>
                        <section class="mx-auto px-6 py-12 sm:py-24 max-w-5xl md:max-w-7xl relative rounded-3xl border-t border-slate-6 mt-20 flex flex-col items-center">
                            <div aria-hidden="true" class="left-1/2 top-0 w-[300px] center pointer-events-none absolute h-px max-w-full -translate-x-1/2 -translate-y-1/2" style="background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(143, 143, 143, 0.67) 50%, rgba(0, 0, 0, 0) 100%);"></div>

                            <p class="sans mb-10 max-w-lg text-center text-base md:text-[1.125rem] md:leading-[1.5] text-slate-11 font-normal">
                                <div class="grid w-full grid-cols-2 gap-8 lg:grid-cols-5">
                                    <div class="flex flex-col gap-4">
                                        <p class="mb-2 ml-1 text-sm text-slate-12 font-normal">Documentation</p>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Aviso de privacidad</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Términos de servicio</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Nuestro equipo</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <p class="mb-2 ml-1 text-sm text-slate-12 font-normal">Recursos</p>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Herramientas de análisis</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Incorporación de IA</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Blogs</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <p class="mb-2 ml-1 text-sm text-slate-12 font-normal">Aprende Más</p>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Planes educativos</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Instituciones académicas</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Docentes</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Estudiantes</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Noticias</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="flex flex-col gap-4">
                                        <p class="mb-2 ml-1 text-sm text-slate-12 font-normal">Compañía</p>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Misión y visión</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Nuestro Equipo</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Partners</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Únete</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <p class="mb-2 ml-1 text-sm text-slate-12 font-normal">Contáctanos</p>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Soporte técnico</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">Github</a>
                                            </li>
                                        </ul>
                                        <ul class="flex flex-col gap-4">
                                            <li>
                                                <a class="outline-none transition duration-150 ease-in-out focus-visible:ring-2 focus-visible:ring-slate-7 text-slate-11 hover:text-slate-12 focus-visible:text-slate-12 rounded-md px-1 py-0.5 text-sm outline-none" href="">LinkedIn</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div role="region" aria-label="Notifications (F8)" tabindex="-1" style="pointer-events: none">
            <ol tabindex="-1" class="fixed bottom-0 right-0 z-50 flex w-[90%] p-6 md:w-[390px]"></ol>
        </div>
    </div>
    <svg height="0" viewBox="0 0 0 0" width="0">
        <defs>
            <linearGradient gradientUnits="userSpaceOnUse" id="resend-dark-gradient" x1="13.5" x2="13.5" y1="11.328" y2="31">
                <stop stop-color="#E5E5E5"></stop>
                <stop offset="1" stop-color="#535353"></stop>
            </linearGradient>
        </defs>
    </svg>
    <script id="__NEXT_DATA__" type="application/json">
        {
            "props": { "pageProps": {}, "__N_SSP": true },
            "page": "/",
            "query": {},
            "buildId": "Qgr5UNPh0gMzFLlxoNNQB",
            "isFallback": false,
            "isExperimentalCompile": false,
            "gssp": true,
            "scriptLoader": []
        }
    </script>
    <script id="next-plausible-init" data-nscript="afterInteractive">
        window.plausible =
            window.plausible ||
            function () {
                (window.plausible.q = window.plausible.q || []).push(arguments);
            };
    </script>
    <script type="x-shader/x-vertex" id="vertShader">
        precision mediump float;
        varying vec2 vUv;
        attribute vec2 a_position;
        void main() {
            vUv = .5 * (a_position + 1.);
            gl_Position = vec4(a_position, 0.0, 1.0);
        }
    </script>

    <script type="x-shader/x-fragment" id="fragShader">
        precision mediump float;
        varying vec2 vUv;
        uniform float u_time;
        uniform float u_ratio;
        uniform vec2 u_pointer_position;
        uniform float u_scroll_progress;

        vec2 rotate(vec2 uv, float th) {
            return mat2(cos(th), sin(th), -sin(th), cos(th)) * uv;
        }

        float neuro_shape(vec2 uv, float t, float p) {
            vec2 sine_acc = vec2(0.);
            vec2 res = vec2(0.);
            float scale = 8.;
            for (int j = 0; j < 15; j++) {
                uv = rotate(uv, 1.);
                sine_acc = rotate(sine_acc, 1.);
                vec2 layer = uv * scale + float(j) + sine_acc - t;
                sine_acc += sin(layer);
                res += (.5 + .5 * cos(layer)) / scale;
                scale *= (1.2 - .07 * p);
            }
            return res.x + res.y;
        }

        void main() {
            vec2 uv = .5 * vUv;
            uv.x *= u_ratio;
            vec2 pointer = vUv - u_pointer_position;
            pointer.x *= u_ratio;
            float p = clamp(length(pointer), 0., 1.);
            p = .5 * pow(1. - p, 2.);
            float t = .001 * u_time;
            vec3 color = vec3(0.);
            float noise = neuro_shape(uv, t, p);
            noise = 1.2 * pow(noise, 3.);
            noise += pow(noise, 10.);
            noise = max(.0, noise - .5);
            noise *= (1. - length(vUv - .5));
            color = vec3(0.42, 0.27, 0.99);
            color = color * noise;
            gl_FragColor = vec4(color, noise);
        }
    </script>

    <script>
        // WebGL initialization and animation code
        const canvasEl = document.querySelector("canvas#neuro");
        const devicePixelRatio = Math.min(window.devicePixelRatio, 2);
        const pointer = {x: 0, y: 0, tX: 0, tY: 0};
        let uniforms;
        const gl = initShader();

        setupEvents();
        resizeCanvas();
        window.addEventListener("resize", resizeCanvas);
        render();

        function initShader() {
    const vsSource = document.getElementById("vertShader").innerHTML;
    const fsSource = document.getElementById("fragShader").innerHTML;

    const gl = canvasEl.getContext("webgl") || canvasEl.getContext("experimental-webgl");

    if (!gl) {
        alert("WebGL is not supported by your browser.");
    }

    function createShader(gl, sourceCode, type) {
        const shader = gl.createShader(type);
        gl.shaderSource(shader, sourceCode);
        gl.compileShader(shader);

        if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
            console.error("An error occurred compiling the shaders: " + gl.getShaderInfoLog(shader));
            gl.deleteShader(shader);
            return null;
        }

        return shader;
    }

    const vertexShader = createShader(gl, vsSource, gl.VERTEX_SHADER);
    const fragmentShader = createShader(gl, fsSource, gl.FRAGMENT_SHADER);

    function createShaderProgram(gl, vertexShader, fragmentShader) {
        const program = gl.createProgram();
        gl.attachShader(program, vertexShader);
        gl.attachShader(program, fragmentShader);
        gl.linkProgram(program);

        if (!gl.getProgramParameter(program, gl.LINK_STATUS)) {
            console.error("Unable to initialize the shader program: " + gl.getProgramInfoLog(program));
            return null;
        }

        return program;
    }

    const shaderProgram = createShaderProgram(gl, vertexShader, fragmentShader);
    uniforms = getUniforms(shaderProgram);

    function getUniforms(program) {
        let uniforms = [];
        let uniformCount = gl.getProgramParameter(program, gl.ACTIVE_UNIFORMS);
        for (let i = 0; i < uniformCount; i++) {
            let uniformName = gl.getActiveUniform(program, i).name;
            uniforms[uniformName] = gl.getUniformLocation(program, uniformName);
        }
        return uniforms;
    }

    const vertices = new Float32Array([-1., -1., 1., -1., -1., 1., 1., 1.]);

    const vertexBuffer = gl.createBuffer();
    gl.bindBuffer(gl.ARRAY_BUFFER, vertexBuffer);
    gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW);

    gl.useProgram(shaderProgram);

    const positionLocation = gl.getAttribLocation(shaderProgram, "a_position");
    gl.enableVertexAttribArray(positionLocation);

    gl.bindBuffer(gl.ARRAY_BUFFER, vertexBuffer);
    gl.vertexAttribPointer(positionLocation, 2, gl.FLOAT, false, 0, 0);

    return gl;
}


function render() {
    const currentTime = performance.now();

    pointer.x += (pointer.tX - pointer.x) * .5;
    pointer.y += (pointer.tY - pointer.y) * .5;

    gl.uniform1f(uniforms.u_time, currentTime);
    gl.uniform2f(uniforms.u_pointer_position, pointer.x / window.innerWidth, 1 - pointer.y / window.innerHeight);
    gl.uniform1f(uniforms.u_scroll_progress, window["pageYOffset"] / (2 * window.innerHeight));

    gl.drawArrays(gl.TRIANGLE_STRIP, 0, 4);
    requestAnimationFrame(render);
}

function resizeCanvas() {
    canvasEl.width = window.innerWidth * devicePixelRatio;
    canvasEl.height = window.innerHeight * devicePixelRatio;
    gl.uniform1f(uniforms.u_ratio, canvasEl.width / canvasEl.height);
    gl.viewport(0, 0, canvasEl.width, canvasEl.height);
}

function setupEvents() {
    window.addEventListener("pointermove", e => {
        updateMousePosition(e.clientX, e.clientY);
    });
    window.addEventListener("touchmove", e => {
        updateMousePosition(e.targetTouches[0].clientX, e.targetTouches[0].clientY);
    });
    window.addEventListener("click", e => {
        updateMousePosition(e.clientX, e.clientY);
    });

    function updateMousePosition(eX, eY) {
        pointer.tX = eX;
        pointer.tY = eY;
    }
}
    </script>
    <next-route-announcer>
        <p aria-live="assertive" id="__next-route-announcer__" role="alert" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; top: 0px; width: 1px; white-space: nowrap; overflow-wrap: normal;"></p>
    </next-route-announcer>
    <protonpass-root-4331 data-protonpass-role="root"></protonpass-root-4331>
</body>
</html>
