{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyra</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    HELLO WORLD

    <form method="post" action="{% url 'home' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file" name="file"/>
        <br />
        <button type="submit" class="btn btn-success btn-md mt-3 w-100 rounded-pill shadow">Submit</button>
    </form>
</body>
</html>